In [ ]:
## Code-5.1
def f(x, y):
    z = x + y
    return z

In [ ]:
## Code-5.2
def print_seconds_per_day():
    hours = 24                  
    minutes = hours * 60        
    seconds = minutes * 60
    print(seconds)

In [ ]:
## Code-5.3
def print_seconds_per_day():
    hours = 24                  
    minutes = hours * 60        
    seconds = minutes * 60
    print(seconds)
    
print_seconds_per_day()

In [ ]:
## Code-5.4
def print_seconds_per_days(days):
    hours = days * 24                  
    minutes = hours * 60        
    seconds = minutes * 60
    print(seconds)
    
print_seconds_per_days(7)

In [ ]:
## Code-4.5
def divide(a, b):
    c = a / b
    print(c)

In [ ]:
## Code-5.6
divide(a=10, b=2)
divide(b=2, a=10)

In [ ]:
## Code-5.7
def print_seconds_per_day():
    hours = 24                  
    minutes = hours * 60        
    seconds = minutes * 60
    print(seconds)
    
print(hours)

In [ ]:
## Code-5.8
def print_seconds_per_days(days):
    hours = days * 24                  
    minutes = hours * 60        
    seconds = minutes * 60
    return seconds

In [ ]:
## Code-5.9
def print_seconds_per_days(days):
    hours = days * 24                  
    minutes = hours * 60        
    seconds = minutes * 60
    return seconds
    
total_seconds = print_seconds_per_days(7)
total_milliseconds = total_seconds * 1000
print(total_milliseconds)

In [ ]:
## Code-5.10
def math(a, b):
    sum = a + b
    sub = a - b
    mul = a * b
    div = a / b
    return sum, sub, mul, div
    
r1, r2, r3, r4 = math(12, 3)
print(f"Summation: {r1}")
print(f"Subtraction: {r2}")
print(f"Multiplication: {r3}")
print(f"Division: {r4}")

In [ ]:
## Code-5.11
def math(a, b):
    return a + b, a - b, a * b, a / b
    
r1, r2, r3, r4 = math(12, 3)
print(f"Summation: {r1}")
print(f"Subtraction: {r2}")
print(f"Multiplication: {r3}")
print(f"Division: {r4}")

In [ ]:
## Code-5.12
def welcome():
    print("Welcome ...")
    
result = welcome()
print(result)

In [ ]:
## Code-5.13
def welcome(name):
    print("Welcome " + name + "!")
    
welcome("Maryam")

In [ ]:
## Code-5.14
def welcome(name="Dear Friend"):
    print("Welcome " + name + "!")
    
welcome("Maryam")
welcome()
welcome("Reza")

In [ ]:
## Code-5.15
def multiply(a, b):
    return a * b
    
print(multiply(3, 2))

In [ ]:
## Code-5.16
def multiply(a, b):
    return a * b
    
print(multiply(3, "Hello"))

In [ ]:
## Code-5.17
def multiply(a: int, b: int) -> int:
    return a * b
    
print(multiply(2, 3))

In [ ]:
## Code-5.18
def multiply(a: int, b: int) -> int:
    return a * b
    
print(multiply(3, "Hello"))

In [ ]:
## Code-5.19
def multiply(a, b):
    """ Returns multiplication of inputs """
    
    return a * b
    
print(multiply.__doc__)

In [ ]:
## Code-5.20
def multiply(a, b):
    """ 
    Returns multiplication of inputs

    Parameters:
        a: first input parameter of type int
        b: second input parameter of type int
    """
    
    return a * b
    
print(multiply.__doc__)

In [ ]:
## Code-5.21
def funciton():

In [ ]:
## Code-5.22
def funciton():
    pass

In [ ]:
## Code-5.23
numbers = [5, 2, -3, 6]
print(sum(numbers))
print(min(numbers))
print(max(numbers))

In [ ]:
## Code-5.24
list1 = [1, 2, 3, 4]
list2 = ["a", "b", "c", "d"]

result = zip(list1, list2)
print(list(result))

In [ ]:
## Code-5.25
list1 = [1, 2, 3, 4]
list2 = ["a", "b", "c", "d"]
list3 = ["A", "B", "C", "D"]

result = zip(list1, list2, list3)
print(list(result))

In [ ]:
## Code-5.26
list1 = [0, 1, 2, 3]
list2 = [3.4, "hello", [1, 2, 3], True]

print(all(list1))
print(all(list2))

In [ ]:
## Code-5.27
list1 = [0, 1]
list2 = [3.4, "hello", [1, 2, 3], True]
list3 = [False, 0, "", None, []]

print(any(list1))
print(any(list2))
print(any(list3))

In [ ]:
## Code-5.28
message = "Welcome to Python World!"
print(message.lower())
print(message.upper())
print(message.replace("World", "Class"))

In [ ]:
## Code-5.29
lambda a, b: a + b

In [ ]:
## Code-5.30
f = lambda a, b: a + b
print(f(2, 3))

In [ ]:
## Code-5.31
greet = lambda : print("Hello World!")
greet()

In [ ]:
## Code-5.32
list1 = [1, 2, 3, 4, 5]
list2 = []

for item in list1:
    list2.append(item ** 2)

print(list2)

In [ ]:
## Code-5.33
list1 = [1, 2, 3, 4, 5]
list2 = list(map(lambda n: n ** 2, list1))

print(list2)

In [ ]:
## Code-5.34
def function(n):
    return n ** 2
    
list1 = [1, 2, 3, 4, 5]
list2 = list(map(function, list1))

print(list2)

In [ ]:
## Code-5.35
list1 = [1, 2, 3, 4, 5]
list2 = []

for item in list1:
    if item % 2 == 0:
        list2.append(item)

print(list2)

In [ ]:
## Code-5.36
list1 = [1, 2, 3, 4, 5]
list2 = list(filter(lambda n: n % 2 == 0, list1))

print(list2)

In [ ]:
## Code-5.37
def add(a, b):
    print(a + b)

add(2, 3)

In [ ]:
## Code-5.38
def add(a, b):
    print(a + b)

add(1)

In [ ]:
## Code-5.39
def add(a, b, c):
    print(a + b + c)

add(2, 3, 4)

In [ ]:
## Code-5.40
def add(*args):
    result = 0
    for arg in args:
        result += arg
    print(result)

add(2)
add(2, 3)
add(2, 3, 4)
add(2, 3, 4, 5)
add(2, 3, 4, 5, 6)
add(2, 3, 4, 5, 6, 7)

In [ ]:
## Code-5.41
def info(**kwargs):
    for key, value in kwargs.items():
        print(f"Key: {key}, Value: {value}")

info(name="Ali")
print("---")    
info(name="Ali", age=20)
print("---")    
info(name="Ali", age=20, gender="male")

In [ ]:
## Code-5.42
def function(arg, *args, **kwargs):
    print(arg)
    if args: print(args)
    if kwargs: print(kwargs)

function("hello")    
print("---")    
function("hello", 1, 2, 3) 
print("---")    
function("hello", 1, 2, 3, key1="value1", key2="value2")

In [ ]:
## Code-5.43
def sort_numbers(numbers):
    numbers.sort()
    return numbers
    
numbers_list = [24, 75, 1, 12, 80]
smallest, *others, biggest = sort_numbers(numbers_list)
print(smallest)
print(others)
print(biggest)