In [ ]:
## Database_Code-1
import mariadb

In [ ]:
## Database_Code-2
import mariadb

conn = mariadb.connect(
        		   user="root",
          password="123456",
   host="127.0.0.1",
   port=3306,
   database="store"
 )

In [ ]:
## Database_Code-3
import mariadb

conn = mariadb.connect(
        		   user="root",
   password="123456",
   host="127.0.0.1",
   port=3306,
   database="store"
       )
    
cur = conn.cursor()

In [ ]:

## Database_Code-4
import sqlite3

conn = sqlite3.connect("store.db")

In [ ]:
## Database_Code-5
import sqlite3

conn = sqlite3.connect("store.db")
cur = conn.cursor()
cur.execute(
    """
        CREATE TABLE IF NOT EXISTS products(
        name VARCHAR(20),
        price INT,
        number INT
        )
    """
)

In [ ]:
## Database_Code-6
query = "INSERT INTO products (name, price, number) VALUES ('hat', 70000, 21);"

In [ ]:
## Database_Code-7
import sqlite3

conn = sqlite3.connect("store.db")
cur = conn.cursor()
query = "INSERT INTO products (name, price, number) VALUES ('hat', 70000, 21);"
cur.execute(query)
conn.commit()
conn.close()

In [ ]:
## Database_Code-8
import sqlite3

with sqlite3.connect("store.db") as conn:

    cur = conn.cursor()
    query = "INSERT INTO products (name, price, number) VALUES ('hat', 70000, 21);"
    cur.execute(query)
    conn.commit()

In [ ]:
## Database_Code-9
# Create a new product
def create(name, price, number):

    with sqlite3.connect("store.db") as conn:
    
        cur = conn.cursor()
        query = f"""
                    INSERT INTO products (name, price, number) 
                    VALUES ('{name}', {price}, {number});
                 """
        cur.execute(query)
        conn.commit()

In [ ]:
## Database_Code-10
# Read all products
def read(name, price, number):

    with sqlite3.connect("store.db") as conn:
    
        cur = conn.cursor()
        query = "SELECT * FROM products;"
        cur.execute(query)
        products = []
        for product in cur:
            products.append(product)
        return products

In [ ]:
## Database_Code-11
# Update price and number of a product
def update(name, price, number):

    with sqlite3.connect("store.db") as conn:
    
        cur = conn.cursor()
        query = f"""
                    UPDATE products SET price={price}, number={number} 
                    WHERE name='{name}';
                 """
        cur.execute(query)
        conn.commit()

In [ ]:
## Database_Code-12
# Delete a product
def delete(name):

    with sqlite3.connect("store.db") as conn:
    
        cur = conn.cursor()
        query = f"DELETE FROM products WHERE name='{name}';"
        cur.execute(query)
        conn.commit()