In [ ]:
## Code-2.1
a = 23
print(a)

In [ ]:
## Code-2.2
# این خط، تنها یک توضیح است و پایتون آن را اجرا نمی‌کند

In [ ]:
## Code-2.3
# خط اول توضیحات
# خط دوم توضیحات
# خط سوم توضیحات

In [ ]:
## Code-2.4
"""
    خط اول توضیحات
    خط دوم توضیحات
    خط سوم توضیحات
"""

In [ ]:
## Code-2.5
width_of_table = 20
value_of_pi = 3.14
complex_number = 1 + 3j

In [ ]:
## Code-2.6
result = (10 - 2) / 4 * 10 ** 2
print(result)

In [ ]:
## Code-2.7
message = "سلام! به دنیای پایتون خوش آمدید"

In [ ]:
## Code-2.8
my_string = "Python"
print(my_string[1])

In [ ]:
## Code-2.9
my_string = "Python"
length_of_string = len(my_string)
print(length_of_string)

In [ ]:
## Code-2.10
my_string = "Python"
length_of_string = len(my_string)
print(my_string[length_of_string - 1])

In [ ]:
## Code-2.11
my_string = "Python"
print(my_string[-1])

In [ ]:
## Code-2.12
message = "Welcome to Python class!"

In [ ]:
## Code-2.13
print(message[10:17])

In [ ]:
## Code-2.14
print(message[0:17])

In [ ]:
## Code-2.15
print(message[:17])

In [ ]:
## Code-2.16
message = "Welcome to Python class!"
print(message)
print(message[0:24])
print(message[:])

In [ ]:
## Code-2.17
word = "Python"
print(word.lower())

In [ ]:
## Code-2.18
word = "Python"
print(word.upper())

In [ ]:
## Code-2.19
word = "Python"
print(word.upper())
print(word)

In [ ]:
## Code-2.20
word = "Python"
word = word.upper()
print(word)

In [ ]:
## Code-2.21
word = "  Python  "
print(word)
print(word.strip())

In [ ]:
## Code-2.22
greeting = "Welcome to Python World, "
name = "Ali"
message = greeting + name
print(message)

In [ ]:
## Code-2.23
message = "Hello"
print(message * 3)

In [ ]:
## Code-2.24
name = "Ali"
age = 25
message = "My name is " + name + " and I am " + age
print(message)

In [ ]:
## Code-2.25
name = "Ali"
age = 25
message = "My name is {} and I am {}".format(name, age)
print(message)

In [ ]:
## Code-2.26
name = "Ali"
age = 25
message = "My name is {} and I am {}".format(age, name)
print(message)

In [ ]:
## Code-2.27
name = "Ali"
age = 25
message = f"My name is {name} and I am {age}"
print(message)

In [ ]:
## Code-2.28
number = 12.3456789
print(f"{number:.2f}")

In [ ]:
## Code-2.29
number = 1000000000
print(f"{number:_}")
print(f"{number:,}")

In [ ]:
## Code-2.30
word = "test"
print(f"{word:>20}")
print(f"{word:$>20}")

In [ ]:
## Code-2.31
print("Welcome to "PYTHON" World!")

In [ ]:
## Code-2.32
print("Welcome to \"Python\" World!")

In [ ]:
## Code-2.33
print("Welcome to Python World!")

In [ ]:
## Code-2.34
print("Welcome to \n Python World!")

In [ ]:
## Code-2.35
path = "D:\\directory\\file.txt"
print(path)

In [ ]:
## Code-2.36
path = r"D:\directory\file.txt"
print(path)

In [ ]:
## Code-2.37
message = """
             اولین خط از رشته
             دومین خط از رشته
             سومین خط از رشته
          """
print(message)

In [ ]:
## Code-2.38
my_list = [1, 2, 3]

In [ ]:
## Code-2.39
my_list = [-2.7, "word", 130, True, [1, 2, 3]]

In [ ]:
## Code-2.40
my_list = []

In [ ]:
## Code-2.41
my_list = ["Ali", True, 2450, [1, 2, 3]]
print(my_list[1])
print(my_list[-1])

In [ ]:
## Code-2.42
my_list = ["Ali", True, 2450, [1, 2, 3]]
internal_list = my_list[-1]
print(internal_list)
print(internal_list[2])

In [ ]:
## Code-2.43
my_list = ["Ali", True, 2450, [1, 2, 3]]
print(my_list[-1][2])

In [ ]:
## Code-2.44
my_list = ["Ali", True, 2450, [1, 2, 3]]
print(my_list[-1][-1])

In [ ]:
## Code-2.45
numbers = [1, 2, 1, 1, 5]
print(numbers.count(1))

In [ ]:
## Code-2.46
numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)

In [ ]:
## Code-2.47
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3)

In [ ]:
## Code-2.48
list1 = [1, 2, 3]
list2 = 2 * list1
print(list2)

In [ ]:
## Code-2.49
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

In [ ]:
## Code-2.50
numbers = [1, 2, 3]
numbers.insert(1, 4)
print(numbers)

In [ ]:
## Code-2.51
names = ["Ali", "Hasan", "Masoud", "Reza", "Hamid"]
last_name_of_list = names.pop()
print(last_name_of_list)

In [ ]:
## Code-2.52
names = ["Ali", "Hasan", "Masoud", "Reza", "Hamid"]
selected_name = names.pop(1)
print(selected_name)
print(names)

In [ ]:
## Code-2.53
names = ["Ali", "Hasan", "Masoud", "Reza", "Hamid"]
names.remove("Hasan")
print(names)

In [ ]:
## Code-2.54
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1])
print(my_tuple[:3])

In [ ]:
## Code-2.55
my_tuple = (1, 2, 3)  # Tuple Packing
a, b, c = my_tuple    # Tuple Unpacking
print(a, b, c)

In [ ]:
## Code-2.56
my_tuple = 1, 2, 3  
print(type(my_tuple))

In [ ]:
## Code-2.57
a = 2
b = 3 
print(f"a: {a}, b: {b}")

In [ ]:
## Code-2.58
a = 2
b = 3 

c = a
a = b
b = c
print(f"a: {a}, b: {b}")

In [ ]:
## Code-2.59
a = 2
b = 3 

a, b = b, a
print(f"a: {a}, b: {b}")

In [ ]:
## Code-2.60
student_info = ["Ali", "Javadi", 16, "Mathematics", "Male"]

In [ ]:
## Code-2.61
student_info = {
                "Name": "Ali",
                "Family": "Javadi",
                "Age": 16,
                "Subject": "Mathematics",
                "Gender": "Male"
                }

In [ ]:
## Code-2.62
student_info = dict(Name="Ali",
                    Family="Javadi", 
                    Age=16,
                    Subject="Mathematics",
                    Gender="Male")

print(student_info)

In [ ]:
## Code-2.63
my_dictionary = {}

In [ ]:
## Code-2.64
my_dictionary = dict()

In [ ]:
## Code-2.65
student_info = {
                "Name": "Ali",
                "Family": "Javadi",
                "Age": 16,
                "Subject": "Mathematics",
                "Gender": "Male"
                }
                
print(student_info["Subject"])

In [ ]:
## Code-2.66
student_info = {
                "Name": "Ali",
                "Family": "Javadi",
                "Age": 16,
                "Subject": "Mathematics",
                "Gender": "Male"
                }
                
print(student_info["Address"])

In [ ]:
## Code-2.67
student_info = {
                "Name": "Ali",
                "Family": "Javadi",
                "Age": 16,
                "Subject": "Mathematics",
                "Gender": "Male"
                }
                
print(student_info.get("Subject"))

In [ ]:
## Code-2.68
student_info = {
                "Name": "Ali",
                "Family": "Javadi",
                "Age": 16,
                "Subject": "Mathematics",
                "Gender": "Male"
                }
                
print(student_info.get("Address"))

In [ ]:
## Code-2.69
student_info = {
                "Name": "Ali",
                "Family": "Javadi",
                "Age": 16,
                "Subject": "Mathematics",
                "Gender": "Male"
                }
                
print(student_info.get("Address", "NULL"))

In [ ]:
## Code-2.70
student_info = {
                "Name": "Ali",
                "Family": "Javadi",
                "Age": 16,
                "Subject": "Mathematics",
                "Gender": "Male"
                }
                
print(list(student_info.keys()))
print(list(student_info.values()))

In [ ]:
## Code-2.71
student_info = {
                "Name": "Ali",
                "Family": "Javadi",
                "Age": 16,
                "Subject": "Mathematics",
                "Gender": "Male"
                }
                
print(list(student_info.items()))

In [ ]:
## Code-2.72
student_info = {"Name": "Ali", "Family": "Javadi", "Age": 16}
student_info["GPA"] = 17.5
print(student_info)

In [ ]:
## Code-2.73
student_info = {"Name": "Ali", "Family": "Javadi", "Age": 16}
student_info.update({"GPA": 17.5})
print(student_info)

In [ ]:
## Code-2.74
student_info = {"Name": "Ali", "Family": "Javadi", "Age": 16}
student_info.pop("Family")
print(student_info)

In [ ]:
## Code-2.75
student_info = {"Name": "Ali", "Family": "Javadi", "Age": 16}
student_info["Age"] = 18
print(student_info)

In [ ]:
## Code-2.76
student_info = {"Name": "Ali", "Family": "Javadi", "Age": 16}
student_info.update({"Age": 18})
print(student_info)

In [ ]:
## Code-2.77
my_set = {1, 1, 2, 3, 2, 1, 4}
print(my_set)

In [ ]:
## Code-2.78
x = None
print(x)
print(type(x))

In [ ]:
## Code-2.79
name = input("نام خود را وارد کنید:")

In [ ]:
## Code-2.80
name = input("نام خود را وارد کنید :")
print(f"{name} سلام")

In [ ]:
## Code-2.81
number1 = input("Enter a number: ")
number2 = input("Enter another number: ")
print(number1 + number2)

In [ ]:
## Code-2.82
x = "2"
print(type(x))
y = int(x)
print(type(y))

In [ ]:
## Code-2.83
number1 = int(input("Enter a number: "))
number2 = int(input("Enter another number: "))
print(number1 + number2)

In [ ]:
## Code-2.84
x = "23ABC"
y = int(x)

In [ ]:
## Code-2.85
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
## Code-2.86
x = ("apple", "banana", "cherry")
y = list(x)
y.append("kiwi")
x = tuple(y)

print(x)

In [ ]:
## Code-2.87
list1 = [1, 2, 3, 4, 1, 2, 1]
temp = set(list1)
list2 = list(temp)

print(list2)

In [ ]:
## Code-2.88
queue = []

# enqueue
queue.append("first")
queue.append("second")
queue.append("third")

# dequeue
print(queue.pop(0))
print(queue.pop(0))
print(queue.pop(0))

In [ ]:
## Code-2.89
from collections import deque

queue = deque()

# enqueue
queue.append("first")
queue.append("second")
queue.append("third")

# dequeue
print(queue.popleft())
print(queue.popleft())
print(queue.popleft())

In [ ]:
## Code-2.90
stack = []

# push
stack.append("first")
stack.append("second")
stack.append("third")

# pop
print(stack.pop())
print(stack.pop())
print(stack.pop())

In [ ]:
## Code-2.91
from collections import deque

stack = deque()

# push
stack.append("first")
stack.append("second")
stack.append("third")

# pop
print(stack.pop())
print(stack.pop())
print(stack.pop())